doctype html
if settings.css && settings.js
    html
        head
            title= title
            include favicons
            link(rel='stylesheet', href='/static/' + settings.css.md5 + '.css')
            script(src='/static/' + settings.js.md5 + '.js')
        body.nojs
            include navbar
            #content
                block content
else
    html
        head
            unless Object.keys(settings.errors).length
                meta(http-equiv='refresh', content='5')
        body(style='font: 14px sans-serif')
            if Object.keys(settings.errors).length
                p There may have been CSS/JS compilation problems, see:
                dl
                    each e, type in settings.errors
                        dt: b= type + ' error: '
                        dd: pre= e
                p Note that these may be transitory (LESS sometimes coughs random ENOENTs).
            else
                p CSS/JS is being compiled, refreshing in 5 seconds...