extends layout

block content
    form.centered-form(action='/login' method='post')
        input(type='text' name='username' placeholder='Username')
        input(type='password' name='password' placeholder='Password')
        input.login(type='submit' value='Login')
    form.centered-form(action='/logout' method='post')
        input.logout(type='submit' value='Logout')
