extends layout

block content
    case mode
        when 'projects'
            if projects
                .centered-buttons
                    each project in projects
                        a.button(href='/manage/'+project)= project
            else
                p(style='text-align:center') There was some error getting the projects!
        when 'categories'
            if categories
                .centered-buttons
                    each category in categories
                        a.button(href='/manage/'+project+'/'+category)= category
            else
                p(style='text-align:center') There was some error getting the categories!
        when 'actions'
            if actions
                .centered-buttons
                    each action in actions
                        a.button(href='/manage/'+project+'/'+category+'/'+action)= action
            else
                p(style='text-align:center') There was some error getting the actions!
        default
            p(style='text-align:center') The given path could not be found.