#navbar {
    .above;
    .colors(#C4C4C4, #EEE);
    .dock-top(fixed, 48px);
    .pad(4px);
    .user-select-none;
    border-bottom: 2px solid @lightGrey;
    transition: all 1s;

    &.flash .logo { .hide; .disable; }

    &.good   { .colors(#88AC7C, #ACDA9D, #9DC88F); #account{.nav-green } .icon.tick{.show} }
    &.bad    { .colors(#C6877B, #FEAB9F, #E99E92); #account{.nav-red   } .icon.warn{.show} }
    &.cool   { .colors(#8AA5B7, #B2D6EE, #A2C4D9); #account{.nav-blue  } .icon.info{.show} }
    &.boring { .colors(#CEB17F, #FEDB9C, #EAC98F); #account{.nav-yellow} .icon.note{.show} }

    .logo, .icon {
        .dock-left(absolute, 40px);
        margin: 8px;
        transition: opacity 1s;
    }

    .icon.tick { .img-icon-tick; }
    .icon.warn { .img-icon-warn; }
    .icon.info { .img-icon-info; }
    .icon.note { .img-icon-note; }

    .icon { .hide; }

    .logo {
        .img-logo-glyph;
        .no-outline;

        &:hover, &:focus {
            .img-logo-glyph-blue;
        }
    }

    h1 {
        .fill(absolute);
        .single-line(ellipsis);
        font: 600 28px/40px @baseFont;
        margin: 6px 140px 6px 64px;

        a {
            .no-underline;
            .no-outline;

            &:hover, &:active, &:focus {
                .underline;
            }
        }
    }
}

#account {
    .block;
    .dock-right(absolute, 128px);
    .no-underline;
    .text-center;
    border-left: 3px solid @lightGrey;
    color: #AAA;
    line-height: 18px;
    margin: 8px 0;
    transition: all .2s @easeOutExpo;

    &:hover, &:focus {
        .colors(@tangoBlue, fade(@tangoBlue, 10%), fade(@tangoBlue, 25%));
        margin: 0;
        padding: 8px 0;
        outline: 0;

        b { color: lighten(@tangoBlue, 10%); }
    }

    p, b { margin: 2px 4px; }

    b {
        .block;
        .single-line;
        color: lighten(#AAA, 10%);
    }
}
