
@darkGrey:        #AAA;
@mediumGrey:      #CCC;
@lightGrey:       #DDD;
@almostWhite:     #F8F8F8;
@textColor:       #444;

// From Tango Palette
@tangoRed:        #ef2929;
@tangoOrange:     #f57900;
@tangoYellow:     #edd400;
@tangoGreen:      #73d216;
@tangoBlue:       #729FCF;
@tangoViolet:     #ad7fa8;
@tangoGrey:       #a1a39d;
