
@darkGrey:        #AAA;
@mediumGrey:      #CCC;
@lightGrey:       #DDD;
@almostWhite:     #F8F8F8;
@textColor:       #444;

// Tango Palette Colors
@skyBlueLight:    #729FCF;
@skyBlue:         #3465A4;
@skyBlueDark:     #204A87;
